@use '../../../scss/abstracts/colors' as colors;
@use '../../../scss/abstracts/mixins' as mixins;
@use '../../../scss/abstracts/variables' as var;

.container {
  background-color: colors.$bg;

  @include mixins.breakpoint('>=md') {
    width: 30%;
    position: absolute;
    height: var.$height__main;
  }
  @include mixins.breakpoint('>=lg') {
    width: 20%;
  }
}

.links {
  width: 100%;
  padding: 1rem 0;
  .link {
    @include mixins.flex(column, center, center);
    width: 100%;
    margin: auto;
    margin-bottom: 1rem;
  }
}
.goals-button {
  width: calc(100% - 2rem);
  @include mixins.filled-button(0.5rem);
}
