@use '../../scss/abstracts/colors' as colors;
@use '../../scss/abstracts/mixins' as mixins;
@use '../../scss/abstracts/variables' as var;

.container {
  width: 100%;
  @include mixins.flex(row, space-between, center);
  margin-top: 0.5rem;
}

.input {
  width: 70%;
  margin-left: 0.5rem;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 0.25rem;
}
