@use '../../scss/abstracts/colors' as colors;
@use '../../scss/abstracts/variables' as var;
@use '../../scss/abstracts/mixins' as mixins;

.container {
  height: 100%;
  margin-bottom: 1rem;
  background-color: colors.$bg;
  padding: 1rem;
  border-radius: 0.5rem;

  @include mixins.breakpoint('>=md') {
    margin-bottom: 0;
    margin-right: 1rem;
    width: 40%;
  }
}
