@use '../../scss/abstracts/colors' as colors;
@use '../../scss/abstracts/variables' as var;
@use '../../scss/abstracts/mixins' as mixins;

.goals-list {
  background-color: colors.$bg;
  padding: 1rem;
  border-radius: 0.5rem;
}
