@use './scss/abstracts/mixins' as mixins;
@use './scss/abstracts/variables' as var;

.page {
  padding: 1rem;

  @include mixins.breakpoint('>=sm') {
    margin-left: 4rem;
    margin-right: 4rem;
  }
  @include mixins.breakpoint('>=md') {
    margin-left: 30%;
    width: 70%;
    height: var.$height__main;
  }
  @include mixins.breakpoint('>=lg') {
    margin-left: 20%;
    width: 80%;
  }
}
