/* IMPORTS */
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap');

/* APPLY TO ALL */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* STYLE VARIABLES */
:root {
  --prim-color: hsl(185, 20%, 15%);
  --sec-color: hsla(50, 100%, 70%, 1);
  --ter-color: hsla(44, 100%, 90%, 1);
  --prim-acc: hsla(177, 25%, 55%, 1);
}

input {
  font-family: inherit;
}
button {
  font-family: inherit;
  cursor: pointer;
}

html {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  background-color: var(--prim-color);
  font-family: 'Nunito Sans', sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
