/* IMPORTS */
/* Barlow */
@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* Nunito Sans */
/* @import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap'); */

/* Nunito Sans, Zilla Slab */
/* @import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&family=Zilla+Slab:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap'); */

/* APPLY TO ALL */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* STYLE VARIABLES */
:root {
  --light-bg: hsl(210, 25%, 95%);
  --prim-color: hsl(185, 40%, 25%);
  --sec-color: hsl(90, 100%, 70%);
  --ter-color: hsl(44, 100%, 90%);
  --prim-acc: hsl(180, 25%, 55%);

  --header-shadow: 0px 0.25rem 1rem 0.25rem rgba(0, 0, 0, 0.2);
  --box-shadow: 0px 0.25rem 0.5rem 0.05rem rgba(0, 0, 0, 0.2);
  --box-inset: inset 0px 0px 0.25rem 0.25rem rgba(0, 0, 0, 0.1);

  --dot-grid: hsla(180, 25%, 55%, 1);
}

input {
  font-family: inherit;
}
button {
  margin: 0;
  border: none;
  font-family: inherit;
  cursor: pointer;
}

html {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    'Nunito Sans', 'Zilla Slab' sans-serif, serif;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  color: var(--prim-color);
  background-color: var(--light-bg);
  font-family: 'Barlow', sans-serif;
  /* font-family: 'Nunito Sans', sans-serif; */
  /* font-family: 'Zilla Slab'; */
}

a {
  text-decoration: none;
  color: inherit;
}

fieldset {
  border: none;
}
