.dot-grid {
  position: absolute;
  width: 25vw;
  height: 25vh;

  background: transparent;
  background-image: radial-gradient(var(--dot-grid) 1px, transparent 0);
  background-size: 25px 25px;
  background-position: -25px -25px;
}
