@use '../../../scss/abstracts/colors' as colors;
@use '../../../scss/abstracts/mixins' as mixins;
@use '../../../scss/abstracts/variables' as var;

.container {
  background-color: colors.$bg;
  border-radius: 0.5rem;
  padding: 2rem;
  margin-bottom: 1rem;
  @include mixins.breakpoint('>=md') {
    margin-bottom: 0;
    width: 60%;
    height: 100%;
  }
  @include mixins.breakpoint('>=lg') {
    // width: 50%;
  }
}

.heading {
  padding-bottom: 1rem;
  font-weight: 500;
}

.new-goal__fieldset {
  padding: 1rem;
  border: 1px solid colors.$prim;
  border-radius: 0.5rem;
  @include mixins.flex(column, center, center);
}

.new-goal__input {
  width: 100%;
  padding: 1rem;

  color: var(--sec-color);
  border: none;
  border: 1px solid var(--prim-acc);
  background-color: var(--prim-color);
}

.duedate {
  padding: 1rem;
  width: 100%;
  border: 1px solid var(--sec-color);
}

.notes {
  width: 100%;
  border: 1px solid var(--sec-color);
}

.add-goal__btn {
  width: 100%;
  margin-top: 1rem;
  @include mixins.filled-button(0.5rem);
}
