.new-goal-form {
  /* padding: 1rem; */
  width: 75%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.new-goal-input {
  width: 100%;
  padding: 1rem;
  border: 1px solid var(--sec-color);
  /* border-radius: 0.5rem; */
}

.duedate {
  padding: 1rem;
  width: 100%;
  border: 1px solid var(--sec-color);
}

.notes {
  width: 100%;
  border: 1px solid var(--sec-color);
}
