@use '../../../scss/abstracts/variables' as var;
@use '../../../scss/abstracts/mixins' as mixins;
@use '../../../scss/abstracts/colors' as colors;

.main-header {
  width: 100%;
  background-color: colors.$bg;
  // border-bottom: 2px solid colors.$sec;
  display: grid;
}

.logo {
  grid-column: 1 / 4;
}

.navbar {
  grid-column: 4 / 13;
}
