@use '../../../scss/abstracts/variables' as var;
@use '../../../scss/abstracts/mixins' as mixins;
@use '../../../scss/abstracts/colors' as colors;

.main-header {
  width: 100%;
  height: var.$height__header;

  background-color: colors.$bg;

  @include mixins.flex(row, space-between, center);
}
