@use '../../../scss/abstracts/variables' as var;
@use '../../../scss/abstracts/mixins' as mixins;
@use '../../../scss/abstracts/colors' as colors;

.main-nav {
  background-color: colors.$bg;
}

.main-nav ul {
  height: 100%;
  @include mixins.flex(row, space-around, center);
}

.links {
  .__link {
    padding: 0 1rem;
  }
}

/* .main-nav li {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
  height: 100%;
  margin: auto;
  padding: 0 1rem;
}

.link-icons {
  color: var(--sec-color);
  font-size: 4vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.logout-btn {
  background: none;
  border: none;
}

.logout-icon {
  color: salmon;
} */
