@use '../../scss/abstracts/variables' as var;
@use '../../scss/abstracts/mixins' as mixins;
@use '../../scss/abstracts/colors' as colors;

.main-header {
  width: 100%;
  padding: 0 1rem;

  background-color: colors.$bg;

  @include mixins.flex(row, space-between, center);
  @include mixins.breakpoint('>=md') {
    height: var.$height__header;
  }
}

.main-title {
  font-size: 2rem;
  font-weight: 500;
}

.__project {
  color: colors.$prim;
}
.me {
  color: colors.$sec;
}

.main-nav {
  background-color: colors.$bg;
}

.main-nav ul {
  height: 100%;
  @include mixins.flex(row, space-around, center);
}

.links {
  .__link {
    padding-left: 1rem;
  }
}
