.main-nav {
  width: 100%;
}

.main-nav ul {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.main-nav li {
  list-style: none;
  padding: 0 1rem;
}

.link-icons {
  color: var(--sec-color);
}
