@use '../../scss/abstracts/colors' as colors;
@use '../../scss/abstracts/mixins' as mixins;
@use '../../scss/abstracts/variables' as var;

.form {
  // width: 100%;
  background-color: colors.$bg;
  border-radius: 0.5rem;
  padding: 2rem;

  @include mixins.flex(column, center, center);
}

.login-heading {
  margin-bottom: 0.5rem;
}

.login-btn {
  margin: auto;
  margin-top: 1rem;
  @include mixins.filled-button(0.5rem);
}
