@use '../../scss/abstracts/colors' as colors;
@use '../../scss/abstracts/mixins' as mixins;
@use '../../scss/abstracts/variables' as var;

.form {
  background-color: colors.$bg;
  border-radius: 0.5rem;
  padding: 3rem;
}

.login-heading {
  margin-bottom: 0.5rem;
}

.login-btn {
  margin-top: 1rem;
  @include mixins.filled-button(colors.$prim, 0.5rem);
}
