.login-container {
  width: 75vw;
  height: 50vh;

  background-color: var(--ter-color);
  border-radius: 1rem;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.login-heading {
  color: var(--prim-color);
}
