@use '../../scss/abstracts/colors' as colors;
@use '../../scss/abstracts/mixins' as mixins;
@use '../../scss/abstracts/variables' as var;

.form {
  background-color: colors.$bg;
  border-radius: 0.5rem;
  padding: 3rem;
  @include mixins.flex(column, center, flex-start);
}

.form-fieldset {
  @include mixins.flex(column, center, flex-start);

  border-radius: 1rem;
  border-color: var(--prim-acc);
}

.name-field {
  border-radius: 0.25rem 0.25rem 0 0;
}
.pass2-field {
  border-radius: 0 0 0.25rem 0.25rem;
}

.create-user-btn {
  margin-top: 1rem;
  border-radius: 0.5rem;
  padding: 1rem;
  letter-spacing: 1px;
  @include mixins.filled-button(0.5rem);
  font-weight: 400;
}
