.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.form-fieldset {
  margin: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  padding: 2rem;
  border: 1px solid;
  border-radius: 1rem;
  border-color: var(--prim-acc);
}

/* Top and bottom input fields have rounded borders */
.name-field {
  border-radius: 0.25rem 0.25rem 0 0;
}
.pass2-field {
  border-radius: 0 0 0.25rem 0.25rem;
}
/*  */

.register-btn {
  border-color: var(--sec-color);
}

.create-user-btn {
  border-radius: 0.5rem;
  padding: 1rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 400;
}
